body{
  padding: 10px;
  background:linear-gradient(
    135deg,
    #fff1e6,
    #ffd7b8
  );
}
select{
  background-color: white;
  border:1px solid #898888;
}

div#koko{
  background-color:white;
  border-radius:16px;
  margin:20px;
  padding:5px 20px 20px 15px;
}
h1{
  text-align:center;
  color:#d97742;
  margin-top:30px;
  font-size:40px;
  border-bottom:4px solid #ff8a3d;
  padding: bottom 10px;
}
h2{
  margin-top:14px;
  font-size:22px;
}
h3{
  font-size:28px;
  color:#d97742;
  font-weight:bold;
  display:inline-block;
  border-bottom:4px solid #ffb27a;
  padding-bottom:6px;
}
p{
  color:#570808;
  line-height:1.5;

}