body{
  padding: 10px;
  background:linear-gradient(
    135deg,
    #fff1e6,
    #ffd7b8
  );
}
select{
  background-color: white;
  border:1px solid #999;
}

div#koko{
  background-color:white;
  border-radius:16px;
  margin:20px;
  padding:5px 20px 20px 15px;
  margin-right:50px;
}

img#photo{
  border-radius:12px;
}
h1{
  text-align:center;
  color:#d97742;
  margin-top:30px;
  font-size:40px;
  border-bottom:4px solid #ff8a3d;
  padding: bottom 10px;
}
h2{
  margin-top:14px;
  font-size:22px;
}
h3{
  font-size:30px;
}